<div class="main span9">

    <!-- .................................... $About .................................... -->
    <section class="section-content section-about" id="section-about">
        <h2 class="section-title">
            About
            <small><p>selamat datang di PT. Sel Petro Energy</p></small>
        </h2>
        <figure>
            <%= image_tag  "gallery/tangker4.jpg" %>
        <blockquote>
            <p class="lead">the locations banker</p>
        </blockquote>
        <div class="row">
            <div class="span4">
                <p>PT. Sel Petro Energy bergerak di dalam penjualan bahan bakar solar <%= link_to "di Sampit Kalimantan Tengah", static_pages_contact_path %> dan mempunyai stok kapasitas yang banyak, dan kapal kami milik sendiri dan sangat berkapasitas besar. Iste corrupti perspiciatis quaerat <strong>Kalimatan Barat</strong> reiciendis quidem. Praesentium quae quidem odio quod quasi aliquid deleniti quibusdam sapiente. Illo delectus facilis. Perferendis aut repellendus veritatis accusantium id.</p>
            </div>
            <div class="span4">
                <p>Eius numquam <em>laboriosam pariatur unde modi</em> deserunt rerum rem. Accusamus placeat incidunt quaerat doloremque tenetur reiciendis architecto maiores soluta ex aut. <strong>Dolores.</strong> <a href="about.php.html#">Perferendis aut repellendus</a> veritatis accusantium id voluptate iusto architecto aperiam ad voluptatem natus expedita officia accusamus sunt voluptatibus assumenda unde necessitatibus nam.</p>
            </div>
        </div>
    </section>

    <!-- .................................... $TEAM on Thumbnails .................................... -->
    <section class="section-content section-team-on-thumbnails" id="section-team-on-thumbnails">
        <h2 class="section-title">
            Team
            <small>Contact and profil Team</small>
        </h2>
        <ul class="thumbnails">
            <li class="span3">
                <div class="thumbnail">
                    <figure>
                        <%= image_tag "people/x01.jpg.pagespeed.ic.lpuZGRepSn.jpg"%>
                    </figure>
                    <div class="caption">
                        <h5>Jhon Mark</h5>
                        <p>Semua hal bisa kita hadapi dengan lapang dada dan bersabar.</p>
                        <p>
                            <i class="icon-phone"></i>
                            +82 134 4445556
                        </p>
                        <p class="btn-group">
                            <a class="btn btn-inverse btn-small btn-squared" href="about.php.html#">
                                <i class="icon-envelope"></i>
                            </a>
                            <a class="btn btn-inverse btn-small btn-squared" href="about.php.html#">
                                <i class="icon-twitter"></i>
                            </a>
                            <a class="btn btn-inverse btn-small btn-squared" href="about.php.html#">
                                <i class="icon-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail">
                    <figure>
                        <%= image_tag "people/x02.jpg.pagespeed.ic.7X19XOzfHj.jpg" %>
                    </figure>
                    <div class="caption">
                        <h5>Jenny Lopez</h5>
                        <p>Kepercayaan client kami itu adalah kepercayaan kami juga.</p>
                        <p>
                            <i class="icon-phone"></i>
                            +82 873 4445556
                        </p>
                        <p class="btn-group">
                            <a class="btn btn-inverse btn-small btn-squared" href="about.php.html#">
                                <i class="icon-envelope"></i>
                            </a>
                            <a class="btn btn-inverse btn-small btn-squared" href="about.php.html#">
                                <i class="icon-twitter"></i>
                            </a>
                            <a class="btn btn-inverse btn-small btn-squared" href="about.php.html#">
                                <i class="icon-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </li>
            <li class="span3">
                <div class="thumbnail">
                    <figure>
                        <%= image_tag "people/x03.jpg.pagespeed.ic.rYrulZ622y.jpg" %>
                    </figure>
                    <div class="caption">
                        <h5>Carry Martin</h5>
                        <p>Kesuksesan itu tidak bisa dengan cara mudah harus di tempuh dengan kerja keras.</p>
                        <p>
                            <i class="icon-phone"></i>
                            +82 989 4445556
                        </p>
                        <p class="btn-group">
                            <a class="btn btn-inverse btn-small btn-squared" href="about.php.html#">
                                <i class="icon-envelope"></i>
                            </a>
                            <a class="btn btn-inverse btn-small btn-squared" href="about.php.html#">
                                <i class="icon-twitter"></i>
                            </a>
                            <a class="btn btn-inverse btn-small btn-squared" href="about.php.html#">
                                <i class="icon-linkedin"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </section>


            </div><!-- /main span9 -->
