<div class="main span9">

    <!-- .................................... $Simple gallery .................................... -->
    <section class="section-content section-simple-gallery" id="section-simple-gallery">
        <h2 class="section-title">
            Simple Gallery
            <small>Without animated hover effect</small>
        </h2>
        <div class="row">
            <div class="span8">
                <ul class="thumbnails">
                    <li class="span2">
                        <a class="thumbnail fancybox" data-fancybox-group="group" href="gallery/01.jpg">
                            <%= image_tag "gallery/x01.jpg.pagespeed.ic.VJzmllbXyB.jpg", pagespeed_url_has: "131028568" %>
                        </a>
                    </li>
                    <li class="span2">
                        <a class="thumbnail fancybox" data-fancybox-group="group" href="gallery/02.jpg">
                            <%= image_tag "gallery/x02.jpg.pagespeed.ic.Gl8KOrrGrp.jpg", pagespeed_url_has: "425528489" %> 
                        </a>
                    </li>
                    <li class="span2">
                        <a class="thumbnail fancybox" data-fancybox-group="group" href="gallery/03.jpg">
                            <%= image_tag "gallery/03.jpg.pagespeed.ce.ZWkMp1rWGS.jpg", pagespeed_url_hash: "720028410" %>
                        </a>
                    </li>
                    <li class="span2">
                        <a class="thumbnail fancybox" data-fancybox-group="group" href="gallery/04.jpg">
                            <%= image_tag "gallery/x04.jpg.pagespeed.ic.2Zw3Wq8ohf.jpg", pagespeed_url_has: "1014528331" %>
                        </a>
                    </li>
                    <li class="span2">
                        <a class="thumbnail fancybox" data-fancybox-group="group" href="gallery/05.jpg">
                            <%= image_tag "gallery/x05.jpg.pagespeed.ic.MZbcD_lRPU.jpg", pagespeed_url_has: "1309028252" %>
                        </a>
                    </li>
                    <li class="span2">
                        <a class="thumbnail fancybox" data-fancybox-group="group" href="gallery/06.jpg">
                            <%= image_tag "gallery/x06.jpg.pagespeed.ic.GgA5y6jn3j.jpg", pagespeed_url_has: "1603528173" %>
                        </a>
                    </li>
                    <li class="span2">
                        <a class="thumbnail fancybox" data-fancybox-group="group" href="gallery/07.jpg">
                            <%= image_tag "gallery/x07.jpg.pagespeed.ic.QeUFvsHjbN.jpg", pagespeed_url_has: "1898028094" %>
                        </a>
                    </li>
                    <li class="span2">
                        <a class="thumbnail fancybox" data-fancybox-group="group" href="gallery/08.jpg">
                            <%= image_tag "gallery/x08.jpg.pagespeed.ic.6j--ErOdww.jpg", pagespeed_url_has: "2192528015" %>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- .................................... $Caption-gallery .................................... -->
    <section class="section-content section-caption-gallery" id="section-caption-gallery">
        <h2 class="section-title">
            Caption Gallery
            <small>With caption animated hover effect</small>
        </h2>
        <div class="row">
            <div class="span8">
                <ul class="thumbnails">
                    <li class="span2">
                        <div class="thumbnail">
                            <figure class="hover-figcaption">
                                <a class="fancybox" data-fancybox-group="group" href="gallery/01.jpg">
                                    <%= image_tag "gallery/x01.jpg.pagespeed.ic.VJzmllbXyB.jpg", pagespeed_url_has: "131028568" %> 
                                    <div class="figcaption">
                                        Sample text
                                    </div>
                                </a>
                            </figure>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <figure class="hover-figcaption">
                                <a class="fancybox" data-fancybox-group="group" href="gallery/02.jpg">
                                    <%= image_tag "gallery/x02.jpg.pagespeed.ic.Gl8KOrrGrp.jpg", pagespeed_url_has: "425528489" %> 
                                    <div class="figcaption">
                                        Sample text
                                    </div>
                                </a>
                            </figure>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <figure class="hover-figcaption">
                                <a class="fancybox" data-fancybox-group="group" href="gallery/03.jpg">
                                    <%= image_tag "gallery/03.jpg.pagespeed.ce.ZWkMp1rWGS.jpg", pagespeed_url_hash: "720028410" %>
                                    <div class="figcaption">
                                        Sample text
                                    </div>
                                </a>
                            </figure>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <figure class="hover-figcaption">
                                <a class="fancybox" data-fancybox-group="group" href="gallery/04.jpg">
                                    <%= image_tag "gallery/x04.jpg.pagespeed.ic.2Zw3Wq8ohf.jpg", pagespeed_url_has: "1014528331" %>
                                    <div class="figcaption">
                                        Sample text
                                    </div>
                                </a>
                            </figure>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <figure class="hover-figcaption">
                                <a class="fancybox" data-fancybox-group="group" href="gallery/05.jpg">
                                    <%= image_tag "gallery/x05.jpg.pagespeed.ic.MZbcD_lRPU.jpg", pagespeed_url_has: "1309028252" %>
                                    <div class="figcaption">
                                        Sample text
                                    </div>
                                </a>
                            </figure>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <figure class="hover-figcaption">
                                <a class="fancybox" data-fancybox-group="group" href="gallery/06.jpg">
                                    <%= image_tag "gallery/x06.jpg.pagespeed.ic.GgA5y6jn3j.jpg", pagespeed_url_has: "1603528173" %>
                                    <div class="figcaption">
                                        Sample text
                                    </div>
                                </a>
                            </figure>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <figure class="hover-figcaption">
                                <a class="fancybox" data-fancybox-group="group" href="gallery/07.jpg">
                                    <%= image_tag "gallery/x07.jpg.pagespeed.ic.QeUFvsHjbN.jpg", pagespeed_url_has: "1898028094" %>
                                    <div class="figcaption">
                                        Sample text
                                    </div>
                                </a>
                            </figure>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail">
                            <figure class="hover-figcaption">
                                <a class="fancybox" data-fancybox-group="group" href="gallery/08.jpg">
                                    <%= image_tag "gallery/x08.jpg.pagespeed.ic.6j--ErOdww.jpg", pagespeed_url_has: "2192528015" %>
                                    <div class="figcaption">
                                        Sample text
                                    </div>
                                </a>
                            </figure>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- .................................... $Hoverdir gallery .................................... -->
    <section class="section-content section-hoverdir-gallery" id="section-hoverdir-gallery">
        <h2 class="section-title">
            Hoverdir Gallery
            <small>Direction-aware hover effect</small>
        </h2>
        <div class="row">
            <div class="span8">
                <ul class="thumbnails hoverdir">
                    <li class="span2">
                        <div class="thumbnail hoverdir-item">
                            <%= image_tag "gallery/x01.jpg.pagespeed.ic.VJzmllbXyB.jpg", pagespeed_url_has: "131028568" %> 
                            <div class="hoverdir-bg">
                                <div class="hoverdir-content">
                                    <span class="btn-wrap">
                                        <a class="btn btn-squared btn-inverse" href="http://www.google.com">
                                            <i class="icon-external-link"></i>
                                        </a>
                                        <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="gallery/01.jpg">
                                            <i class="icon-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail hoverdir-item">
                            <%= image_tag "gallery/x02.jpg.pagespeed.ic.Gl8KOrrGrp.jpg", pagespeed_url_has: "425528489" %> 
                            <div class="hoverdir-bg">
                                <div class="hoverdir-content">
                                    <span class="btn-wrap">
                                        <a class="btn btn-squared btn-inverse" href="http://www.google.com">
                                            <i class="icon-external-link"></i>
                                        </a>
                                        <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="gallery/02.jpg">
                                            <i class="icon-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail hoverdir-item">
                            <%= image_tag "gallery/03.jpg.pagespeed.ce.ZWkMp1rWGS.jpg", pagespeed_url_hash: "720028410" %>
                            <div class="hoverdir-bg">
                                <div class="hoverdir-content">
                                    <span class="btn-wrap">
                                        <a class="btn btn-squared btn-inverse" href="http://www.google.com">
                                            <i class="icon-external-link"></i>
                                        </a>
                                        <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="gallery/03.jpg">
                                            <i class="icon-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail hoverdir-item">
                            <%= image_tag "gallery/x04.jpg.pagespeed.ic.2Zw3Wq8ohf.jpg", pagespeed_url_has: "1014528331" %>
                            <div class="hoverdir-bg">
                                <div class="hoverdir-content">
                                    <span class="btn-wrap">
                                        <a class="btn btn-squared btn-inverse" href="http://www.google.com">
                                            <i class="icon-external-link"></i>
                                        </a>
                                        <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="gallery/04.jpg">
                                            <i class="icon-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail hoverdir-item">
                            <%= image_tag "gallery/x05.jpg.pagespeed.ic.MZbcD_lRPU.jpg", pagespeed_url_has: "1309028252" %>
                            <div class="hoverdir-bg">
                                <div class="hoverdir-content">
                                    <span class="btn-wrap">
                                        <a class="btn btn-squared btn-inverse" href="http://www.google.com">
                                            <i class="icon-external-link"></i>
                                        </a>
                                        <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="gallery/05.jpg">
                                            <i class="icon-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail hoverdir-item">
                            <%= image_tag "gallery/x06.jpg.pagespeed.ic.GgA5y6jn3j.jpg", pagespeed_url_has: "1603528173" %>
                            <div class="hoverdir-bg">
                                <div class="hoverdir-content">
                                    <span class="btn-wrap">
                                        <a class="btn btn-squared btn-inverse" href="http://www.google.com">
                                            <i class="icon-external-link"></i>
                                        </a>
                                        <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="gallery/06.jpg">
                                            <i class="icon-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail hoverdir-item">
                            <%= image_tag "gallery/x07.jpg.pagespeed.ic.QeUFvsHjbN.jpg", pagespeed_url_has: "1898028094" %>
                            <div class="hoverdir-bg">
                                <div class="hoverdir-content">
                                    <span class="btn-wrap">
                                        <a class="btn btn-squared btn-inverse" href="http://www.google.com">
                                            <i class="icon-external-link"></i>
                                        </a>
                                        <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="gallery/07.jpg">
                                            <i class="icon-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="span2">
                        <div class="thumbnail hoverdir-item">
                            <%= image_tag "gallery/x08.jpg.pagespeed.ic.6j--ErOdww.jpg", pagespeed_url_has: "2192528015" %>
                            <div class="hoverdir-bg">
                                <div class="hoverdir-content">
                                    <span class="btn-wrap">
                                        <a class="btn btn-squared btn-inverse" href="http://www.google.com">
                                            <i class="icon-external-link"></i>
                                        </a>
                                        <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="gallery/08.jpg">
                                            <i class="icon-search"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>


            </div><!-- /main span9 -->
