<div class="main span9">

    <!-- .................................... $background slider .................................... -->
	<ul id="cbp-bislideshow" class="cbp-bislideshow hidden-phone">
		<li><%= image_tag "gallery/tangker.jpg"%>	</li>
		<li><%= image_tag "gallery/tangker2.jpg"%></li>
		<li><%= image_tag "gallery/tangker3.jpg"%></li>
		<li><%= image_tag "gallery/tangker4.jpg"%></li>
	</ul>
	<div id="cbp-bicontrols" class="cbp-bicontrols hidden-phone">
		<span class="cbp-biprev"></span>
		<span class="cbp-bipause"></span>
		<span class="cbp-binext"></span>
	</div>


    <!-- .................................... $intro .................................... -->
	<section class="section-content section-intro" id="section-intro">
		<div class="row">
			<div class="span6">
				<h1 class="section-title">
					Welcome to PT. Sell Petro Energy
					<small>Perusahaan penjualan solar industri</small>
				</h1>
				<p><%=link_to "Contact", static_pages_contact_path, class: "btn btn-primary btn-large" %></p>
			</div>
		</div>
		<br><br><br>
		<div class="row">
			<div class="span3">
				<h4><i class="icon-food"></i>laborum</h4>
				<p>Ut dolores omnis doloremque laborum mollitia sunt nam eos inventore ex in.</p>
			</div>
			<div class="span3">
				<h4><i class="icon-glass"></i>aliquam</h4>
				<p>Error, rem amet aliquam iste! Assumenda, natus explicabo numquam optio magni nam.</p>
			</div>
		</div>
		<div class="row">
			<div class="span3">
				<h4><i class="icon-coffee"></i>explicabo</h4>
				<p>Distinctio illum fugiat consequatur odit inventore non laudantium quod dolorem.</p>
			</div>
			<div class="span3">
				<h4><i class="icon-pushpin"></i>blanditiis</h4>
				<p>Molestiae, iste, quos blanditiis officia vero deserunt dignissimos consectetur.</p>
			</div>
		</div>	
	</section>

	</div><!-- /main span9 -->