<div class="main span9">


    <!-- .................................... $Portfolio .................................... -->
    <section class="section-content section-portfolio" id="section-portfolio">
        <h2 class="section-title">Portfolio</h2>
        <div id="filters">
            <ul class="nav nav-pills">
                <li class="active">
                    <a data-filter="*" href="portfolio-2.php.html#">all</a>
                </li>
                <li>
                    <a data-filter=".filter-2" href="portfolio-2.php.html#">quas ex</a>
                </li>
                <li>
                    <a data-filter=".filter-3" href="portfolio-2.php.html#">deserunt nemo</a>
                </li>
                <li>
                    <a data-filter=".filter-p" href="portfolio-2.php.html#">reiciendis</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="isotope hoverdir" id="container-isotope">
                <div class="span4 isotope-item filter-p">
                    <figure class="hoverdir-item">
                        <%= image_tag "gallery/x01.jpg.pagespeed.ic.VJzmllbXyB.jpg", pagespeed_url_hash: "131028568" %>
                        <div class="figcaption hoverdir-bg">
                            <div class="hoverdir-content">
                                <span class="btn-wrap">
                                    <a class="btn btn-squared btn-inverse" href="portfolio-item.php.html">
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="gallery/01.jpg">
                                        <i class="icon-search"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="span4 isotope-item filter-p filter-2">
                    <figure class="hoverdir-item">
                        <%= image_tag "gallery/x02.jpg.pagespeed.ic.Gl8KOrrGrp.jpg", pagespeed_url_hash: "425528489" %>
                        <div class="figcaption hoverdir-bg">
                            <div class="hoverdir-content">
                                <span class="btn-wrap">
                                    <a class="btn btn-squared btn-inverse" href="portfolio-item.php.html">
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="img/gallery/02.jpg">
                                        <i class="icon-search"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="span4 isotope-item filter-p filter-3">
                    <figure class="hoverdir-item">
                        <%= image_tag "gallery/03.jpg.pagespeed.ce.ZWkMp1rWGS.jpg", pagespeed_url_hash: "720028410" %>
                        <div class="figcaption hoverdir-bg">
                            <div class="hoverdir-content">
                                <span class="btn-wrap">
                                    <a class="btn btn-squared btn-inverse" href="portfolio-item.php.html">
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="img/gallery/03.jpg">
                                        <i class="icon-search"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="span4 isotope-item filter-2">
                    <figure class="hoverdir-item">
                        <%= image_tag "gallery/x04.jpg.pagespeed.ic.2Zw3Wq8ohf.jpg", pagespeed_url_hash: "1014528331" %>
                        <div class="figcaption hoverdir-bg">
                            <div class="hoverdir-content">
                                <span class="btn-wrap">
                                    <a class="btn btn-squared btn-inverse" href="portfolio-item.php.html">
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="img/gallery/04.jpg">
                                        <i class="icon-search"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="span4 isotope-item filter-p">
                    <figure class="hoverdir-item">
                        <%= image_tag "gallery/x05.jpg.pagespeed.ic.MZbcD_lRPU.jpg", pagespeed_url_hash: "1309028252" %>
                        <div class="figcaption hoverdir-bg">
                            <div class="hoverdir-content">
                                <span class="btn-wrap">
                                    <a class="btn btn-squared btn-inverse" href="portfolio-item.php.html">
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="img/gallery/05.jpg">
                                        <i class="icon-search"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="span4 isotope-item filter-2 filter-3">
                    <figure class="hoverdir-item">
                        <%= image_tag "gallery/x06.jpg.pagespeed.ic.GgA5y6jn3j.jpg", pagespeed_url_hash: "1603528173" %>
                        <div class="figcaption hoverdir-bg">
                            <div class="hoverdir-content">
                                <span class="btn-wrap">
                                    <a class="btn btn-squared btn-inverse" href="portfolio-item.php.html">
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="img/gallery/06.jpg">
                                        <i class="icon-search"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="span4 isotope-item filter-p">
                    <figure class="hoverdir-item">
                        <%= image_tag "gallery/x07.jpg.pagespeed.ic.QeUFvsHjbN.jpg", pagespeed_url_hash: "1898028094" %>
                        <div class="figcaption hoverdir-bg">
                            <div class="hoverdir-content">
                                <span class="btn-wrap">
                                    <a class="btn btn-squared btn-inverse" href="portfolio-item.php.html">
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="img/gallery/07.jpg">
                                        <i class="icon-search"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="span4 isotope-item filter-2">
                    <figure class="hoverdir-item">
                        <%= image_tag "gallery/x08.jpg.pagespeed.ic.6j--ErOdww.jpg", pagespeed_url_hash: "2192528015" %>
                        <div class="figcaption hoverdir-bg">
                            <div class="hoverdir-content">
                                <span class="btn-wrap">
                                    <a class="btn btn-squared btn-inverse" href="portfolio-item.php.html">
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="img/gallery/08.jpg">
                                        <i class="icon-search"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="span4 isotope-item filter-3">
                    <figure class="hoverdir-item">
                        <%= image_tag "gallery/x09.jpg.pagespeed.ic.lI8HtNO6nU.jpg", pagespeed_url_hash: "2487027936" %>
                        <div class="figcaption hoverdir-bg">
                            <div class="hoverdir-content">
                                <span class="btn-wrap">
                                    <a class="btn btn-squared btn-inverse" href="portfolio-item.php.html">
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="img/gallery/09.jpg">
                                        <i class="icon-search"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="span4 isotope-item filter-2">
                    <figure class="hoverdir-item">
                        <%= image_tag "gallery/x10.jpg.pagespeed.ic.ow3fUb6iCg.jpg", pagespeed_url_hash: "4056279930" %>
                        <div class="figcaption hoverdir-bg">
                            <div class="hoverdir-content">
                                <span class="btn-wrap">
                                    <a class="btn btn-squared btn-inverse" href="portfolio-item.php.html">
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="img/gallery/10.jpg">
                                        <i class="icon-search"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="span4 isotope-item filter-p">
                    <figure class="hoverdir-item">
                        <%= image_tag "gallery/x11.jpg.pagespeed.ic.IayQVSHx_R.jpg", pagespeed_url_hash: "55812555" %>
                        <div class="figcaption hoverdir-bg">
                            <div class="hoverdir-content">
                                <span class="btn-wrap">
                                    <a class="btn btn-squared btn-inverse" href="portfolio-item.php.html">
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="img/gallery/11.jpg">
                                        <i class="icon-search"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="span4 isotope-item filter-2 filter-3">
                    <figure class="hoverdir-item">
                        <%= image_tag "gallery/x12.jpg.pagespeed.ic.aadTHVnO2Z.jpg", pagespeed_url_hash: "350312476" %>
                        <div class="figcaption hoverdir-bg">
                            <div class="hoverdir-content">
                                <span class="btn-wrap">
                                    <a class="btn btn-squared btn-inverse" href="portfolio-item.php.html">
                                        <i class="icon-external-link"></i>
                                    </a>
                                    <a class="btn btn-squared btn-inverse fancybox" data-fancybox-group="group" href="img/gallery/12.jpg">
                                        <i class="icon-search"></i>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </section>


            </div><!-- /main span9 -->
