<div class="main span9">

    <!-- .................................... $Services .................................... -->
    <section class="section-content section-services" id="section-services">
        <h2 class="section-title">Services</h2>
        <div class="row">
            <div class="span9">
                <div class="row">
                    <div class="span3">
                        <div class="text-center">
                            <figure>
                                <a href="services.php.html#">
                                    <i class="icon-html5 icon-8x icon-border"></i>
                                </a>
                            </figure>
                            <h4>
                                <a href="services.php.html#">Tameng</a>
                            </h4>
                            <p>Menjaga kepercayaan client itu no.1 bagi kami</p>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="text-center">
                            <figure>
                                <a href="services.php.html#">
                                    <i class="icon-css3 icon-8x icon-border"></i>
                                </a>
                            </figure>
                            <h4>
                                <a href="services.php.html#">Simbol</a>
                            </h4>
                            <p>Dari simbol tersebut jadi penilaian untuk bisa lebih baik lagi</p>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="text-center">
                            <figure>
                                <a href="services.php.html#">
                                    <i class="icon-crop icon-8x icon-border"></i>
                                </a>
                            </figure>
                            <h4>
                                <a href="services.php.html#">Vero minus</a>
                            </h4>
                            <p>Quas tempore tenetur ex id sunt cum beatae nobis nam odio</p>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="span3">
                        <div class="text-center">
                            <figure>
                                <a href="services.php.html#">
                                    <i class="icon-rocket icon-8x icon-border"></i>
                                </a>
                            </figure>
                            <h4>
                                <a href="services.php.html#">Nostrum odio</a>
                            </h4>
                            <p>Consequatur provident dolore quia quidem dignissimos at in corporis reiciendis rem</p>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="text-center">
                            <figure>
                                <a href="services.php.html#">
                                    <i class="icon-code icon-8x icon-border"></i>
                                </a>
                            </figure>
                            <h4>
                                <a href="services.php.html#">Voluptatibus non</a>
                            </h4>
                            <p>Vel illum odit consequatur unde totam ducimus iste quibusdam aperiam</p>
                        </div>
                    </div>
                    <div class="span3">
                        <div class="text-center">
                            <figure>
                                <a href="services.php.html#">
                                    <i class="icon-shield icon-8x icon-border"></i>
                                </a>
                            </figure>
                            <h4>
                                <a href="services.php.html#">Facere neque</a>
                            </h4>
                            <p>Sequi culpa delectus eum placeat quod sapiente architecto rem deserunt vero</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- .................................... $CLIENTS on Carousel .................................... -->
    <section class="section-content section-clients-on-carousel" id="section-clients-on-carousel">
        <h2 class="section-title">Clients</h2>
        <div class="row">
            <div class="span9">
                <div class="row">
                    <div class="carousel carousel-mini slide" data-pause="true" id="myCarouselClients">
                        <div class="carousel-nav">
                            <div class="btn-group">
                                <a class="btn btn-link btn-small" data-slide="prev" href="services.php.html#myCarouselClients">
                                    <i class="icon-chevron-left"></i>
                                </a>
                                <a class="btn btn-link btn-small" data-slide="next" href="services.php.html#myCarouselClients">
                                    <i class="icon-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="span3">
                                    <figure class="hover-figcaption">
                                        <a href="services.php.html#">
                                            <%= image_tag "clients/x01.jpg.pagespeed.ic.PvacYlmSs_.jpg" %>
                                            <div class="figcaption">
                                                <strong>Fugit</strong>
                                                <br>
                                                eaque est facilis
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                                <div class="span3">
                                    <figure class="hover-figcaption">
                                        <a href="services.php.html#">
                                            <%= image_tag "clients/x04.jpg.pagespeed.ic.9vvlSKMNM8.jpg" %>
                                            <div class="figcaption">
                                                <strong>Praesentium</strong>
                                                <br>
                                                sit ullam numquam
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                                <div class="span3">
                                    <figure class="hover-figcaption">
                                        <a href="services.php.html#">
                                            <%= image_tag "clients/x03.jpg.pagespeed.ic.ly2gCgjQQt.jpg" %>
                                            <div class="figcaption">
                                                <strong>Corporis</strong>
                                                <br>
                                                eos tenetur quasi
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                            <div class="item">
                                <div class="span3">
                                    <figure class="hover-figcaption">
                                        <a href="services.php.html#">
                                            <%= image_tag "clients/x02.jpg.pagespeed.ic.1__7I8_wP1.jpg" %>
                                            <div class="figcaption">
                                                <strong>Amet</strong>
                                                <br>
                                                iure illo quas
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                                <div class="span3">
                                    <figure class="hover-figcaption">
                                        <a href="services.php.html#">
                                            <%= image_tag "clients/05.jpg"%>
                                            <div class="figcaption">
                                                <strong>Eos</strong>
                                                <br>
                                                laudantium repudiandae sit
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                                <div class="span3">
                                    <figure class="hover-figcaption">
                                        <a href="services.php.html#">
                                            <%= image_tag "clients/06.jpg" %>
                                            <div class="figcaption">
                                                <strong>Perferendis</strong>
                                                <br>
                                                quasi voluptates praesentium
                                            </div>
                                        </a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- .................................... $TABS .................................... -->
    <section class="section-content section-tabs" id="section-tabs">
        <h2 class="section-title">Features</h2>
        <div class="row">
            <div class="span9 tabbable tabs-left">
                <ul class="nav nav-tabs hidden-phone" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="services.php.html#uno">
                            <i class="icon-folder-open icon-padded icon-3x pull-left"></i>
                            <strong>Illum</strong>
                            <br>
                            Ipsam aperiam deserunt
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="services.php.html#due">
                            <i class="icon-bookmark icon-padded icon-3x pull-left"></i>
                            <strong>Debitis</strong>
                            <br>
                            Fuga deserunt dicta distinctio
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="services.php.html#tre">
                            <i class="icon-group icon-padded icon-3x pull-left"></i>
                            <strong>Odit quos</strong>
                            <br>
                            Dignissimos autem alias velit
                        </a>
                    </li>
                </ul>
                <div class="span5 tab-content">
                    <div class="tab-pane active" id="uno">
                        <br>
                        <h3>Illum: quam laudantium</h3>
                        <p>Expedita mollitia corrupti vel sit facere unde temporibus ab vero cum eveniet error natus aperiam nulla exercitationem modi quas ratione dolores quod! Amet modi quaerat libero esse molestiae accusamus ullam quis ipsam quas pariatur aspernatur non cumque qui.</p>
                        <p>
                            <a class="btn btn-primary" href="services.php.html#">Get info</a>
                        </p>
                    </div>
                    <div class="tab-pane" id="due">
                        <br>
                        <h3>Debitis: nulla rem expedita</h3>
                        <ul>
                            <li>illo voluptates laudantium provident</li>
                            <li>dolores voluptas itaque nemo</li>
                            <li>praesentium recusandae cumque excepturi</li>
                        </ul>
                        <p>
                            <a class="btn" href="services.php.html#">View details</a>
                            <a class="btn btn-primary" href="services.php.html#">Download it</a>
                        </p>
                    </div>
                    <div class="tab-pane" id="tre">
                        <br>
                        <h3>Odit quos: enim aliquid</h3>
                        <p>Quos illum sed aperiam sapiente saepe esse odit fugit debitis.</p>
                        <p>Officiis cupiditate qui expedita. Animi odio deleniti quasi distinctio similique officia id! Ullam numquam quod doloribus dolorem commodi quo fugiat vitae nostrum non neque vel officia odit sed.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


            </div><!-- /main span9 -->
